* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px;
}

.start {
  margin-bottom: 20px;
}

.start h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

#search {
  width: 260px;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

#search:focus {
  border-color: #0056b3;
}

input[type="text"] {
  width: 500px;
  /* height: 41px; */
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #0056b3;
}

#btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#btn:hover {
  background-color: #0056b3;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  max-width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

#container > div {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

#todo {
  background-color: #ff4d4d;
  padding: 5px;
}

#inprogress {
  background-color: #ffa500;
  padding: 5px;
}

#done {
  background-color: #28a745;
  padding: 5px;
}

#addTask {
  background-color: #ffffff;
  padding: 15px;
  width: 600px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px auto;
  position: relative;
}

#addTask label {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin-bottom: 2px;
}

#addTask input,
#addTask select,
#addTask textarea {
  width: 100%;
  padding: 6px;
  margin-top: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#addTask textarea {
  resize: vertical;
  min-height: 70px;
}

.space {
  width: 100%;
  max-width: 400px;
  height: 300px;
  background-color: #c3c3c3;
  display: flex;
  justify-content: center;
  align-items: center;
}
